---
layout: default
category: emuladores
---
{% include emuladores.html %}
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ console_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Atari 2600</h4>
                    <p> O Atari 2600, cujo nome original foi Atari Video Computer System/Atari VCS, é o console
                        pertencente à 2ª geração de video games feito pela 'Atari, inc.' e lançado em Setembro de 1977
                        nos EUA. Durante o desenvolvimento do protótipo do Atari, o qual possuía o nome de "Stella"
                        (nome da bicicleta de um dos engenheiros desenvolvedores), decidiu-se incorporar um núcleo com
                        sistema de CPU completo para a plataforma, sendo formado por apenas quatro chips e denominado
                        'MOS Technology 6507' (uma versão reduzida do 'MOS Technology 6502'). Tal fato foi inovador à
                        época pois as máquinas das gerações passadas adotavam uma lógica de programação única e
                        inflexível para rodar os seus jogos. Apesar de ter sido lançado um ano depois do concorrente
                        'Channel F.', que foi o primeiro console 'realmente programável' (jogos podiam ser vendidos
                        separadamente do console) da história, tornou-se bem mais popular no território dos EUA, obtendo
                        vendas modestas no início de seu lançamento, mas adquirindo mais e mais sucesso com o decorrer
                        dos anos. Devido a isso, em 1982, o Atari VCS tinha o domínio de cerca de 58% do mercado de
                        consoles caseiros. Consequentemente, várias empresas, desenvolvendo seus próprios repertórios de
                        jogos, decidiram entrar no ramo de consoles na tentativa de acompanhar o sucesso do Atari VCS, a
                        exemplo de: Intellivision, ColecoVision, Vectrex e outros menos famosos, deixando o mercado
                        hiper saturado com opções de máquinas e jogos. Assim, os consumidores se viam cada vez mais
                        pessimistas com esse mercado e optavam por não adquirirem seus produtos. De maneira geral, tal
                        fato, aliado a outros fatores econômicos dos EUA durante esse período, resultou em uma forte
                        recessão econômica nos EUA na década de 80, conhecida como 'A Crise dos jogos eletrônicos de
                        1983'.
                    </p>
                </div>
                <div class="primary-button">
                    <a href="https://pt.wikipedia.org/wiki/Lista_de_jogos_para_Atari_2600">Lista de Jogos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ emulador_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>lr-Stella2014</h4>
                    <p> O lr-Stella2014 é um dos emuladores de Atari 2600 disponíveis pela RetroArch (prefixo 'lr-') e é
                        o único
                        utilizado para a emulação de Atari 2600 no Ramo. Sendo assim, os comandos descritos na seção
                        'Comandos (RetroArch)' também são válidos para este emulador.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-post mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5">Controles (User 1)</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{{ site.baseurl }}/{{ controle_imagem }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% assign A = "B" | upcase %}
{% assign LB = "L1" | upcase %}
{% assign RB = "R1" | upcase %}
{% assign LT = "L2" | upcase %}
{% assign RT = "R2" | upcase %}
{% assign L3 = "L3" | upcase %}
{% assign R3 = "R3" | upcase %}
{% assign DPAD_UP = "DPAD_UP" | upcase %}
{% assign DPAD_DOWN = "DPAD_DOWN" | upcase %}
{% assign DPAD_RIGHT = "DPAD_RIGHT" | upcase %}
{% assign DPAD_LEFT = "DPAD_LEFT" | upcase %}
{% assign START = "START" | upcase %}
{% assign SELECT = "SELECT" | upcase %}
{% include tabela.html %}