---
layout: default
---
{% include emuladores.html %}
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ console_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Game Boy Advance</h4>
                    <p>O Game Boy Advance (popularmente abreviado como GBA) é um console portátil desenvolvido e
                        fabricado pela Nintendo. Lançado em 2001, é o sucessor do Game Boy Color (Ver 
                        <a href="{{ site.baseurl }}/emuladores/Gameboy-Color">Game Boy Color</a>) e um dos últimos
                        produtos da linha Game Boy. Seu codinome durante o processo de desenvolvimento foi Advance Game
                        Boy. Ele continuou recebendo jogos até 2008.</p>
                </div>
                <div class="primary-button">
                    <a href="https://pt.wikipedia.org/wiki/Categoria:Jogos_para_Game_Boy_Advance">Lista de Jogos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ emulador_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>lr-mgba</h4>
                    <p>O lr-mgba é um dos emuladores de GBA disponíveis pela RetroArch (prefixo 'lr-') e é o único
                        utilizado para a emulação de GBA no Ramo. Sendo assim, os comandos descritos na seção 'Comandos
                        (RetroArch)' também são válidos para este emulador.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-post mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5">Controles (User 1)</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{{ site.baseurl }}/{{ controle_imagem }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% assign B = "A" | upcase %}
{% assign LABEL_B = "A" %}
{% assign A = "B" | upcase %}
{% assign LABEL_A = "B" %}
{% assign Y = "A" | upcase %}
{% assign LABEL_Y = "Turbo A" %}
{% assign X = "B" | upcase %}
{% assign LABEL_X = "Turbo B" %}

{% assign LB = "L1" | upcase %}
{% assign LABEL_LB = "L" %}
{% assign RB = "R1" | upcase %}
{% assign LABEL_RB = "R" %}
{% assign LT = "L2" | upcase %}
{% assign LABEL_LT = "Turbo L" %}
{% assign RT = "R2" | upcase %}
{% assign LABEL_RT = "Turbo R" %}

{% assign L3 = "L3" | upcase %}
{% assign LABEL_L3 = "Darken Solar Sensor" %}
{% assign R3 = "R3" | upcase %}
{% assign LABEL_R3 = "Brighten Solar Sensor" %}

{% assign DPAD_UP = "DPAD_UP" | upcase %}
{% assign LABEL_DPAD_UP = "D-Pad Up" %}
{% assign DPAD_DOWN = "DPAD_DOWN" | upcase %}
{% assign LABEL_DPAD_DOWN = "D-Pad Down" %}
{% assign DPAD_RIGHT = "DPAD_RIGHT" | upcase %}
{% assign LABEL_DPAD_RIGHT = "D-Pad Right" %}
{% assign DPAD_LEFT = "DPAD_LEFT" | upcase %}
{% assign LABEL_DPAD_LEFT = "D-Pad Left" %}

{% assign START = "START" | upcase %}
{% assign LABEL_START = "Start" %}
{% assign SELECT = "SELECT" | upcase %}
{% assign LABEL_SELECT = "Select" %}
{% include tabela.html %}