---
layout: default
---
{% include emuladores.html %}
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ console_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Nintendo Entertainment System (NES)</h4>
                    <p>O Nintendo Entertainment System (NES) foi o console de video game pertencente à 3ª geração de
                        video games com 8-bit de processamento feito pela Nintendo. Originalmente lançado no Japão em
                        1983 com o nome de 'Nintendo Family Computer/Family Computer' (Famicon), teve seu nome alterado,
                        para um 'sistema de entretenimento', ao ser lançado no ocidente devido à recessão da Crise dos
                        Jogos Eletrônicos de 1983, a qual foi provocada, em território estadunidense, principalmente
                        pela hiper saturação do mercado americano de consoles eletrônicos com jogos de baixa qualidade
                        em média (Ver Atari 2600). Apesar disso, o NES foi o principal responsável pela recuperação da
                        já citada crise devido ao fato de ter estabelecido novos padrões no desenvolvimento de jogos que
                        seriam seguidos por outras empresas nesse ramo (vide o lançamento de 'Super Mario Bros.' em
                        1985) como, também, foi o primeiro console a ser produzido e ter seus jogos desenvolvidos também
                        por terceiros (não só a própria 'Nintendo'), o que ajudou o sistema a se divulgar pelo mundo. Em
                        2022, o NES se encontrou em 13° lugar na lista dos consoles mais vendidos da história, ficando
                        atrás de consoles como 'Playstation 2', 'Nintendo WII' e outros.</p>
                </div>
                <div class="primary-button">
                    <a href="https://pt.wikipedia.org/wiki/Lista_de_jogos_para_Nintendo_Entertainment_System">Lista de Jogos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ emulador_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>lr-FCEUmm</h4>
                    <p>O lr-FCEUmm é um dos emuladores de NES disponíveis pela RetroArch (prefixo 'lr-') e é o único
                        utilizado para a emulação de NES no Ramo. Sendo assim, os comandos descritos na seção 'Comandos
                        (RetroArch)' também são válidos para este emulador.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-post mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5">Controles (User 1)</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{{ site.baseurl }}/{{ controle_imagem }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% include controle_padrao.html %}
{% assign Y = "X" | upcase %}
{% assign X = "Y" | upcase %}
{% assign A = "B" | upcase %}
{% assign B = "A" | upcase %}
{% assign RB = "A" | upcase %}
{% include tabela.html %}