---
layout: default
---
{% include emuladores.html %}
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ console_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>PC-Engine</h4>
                    <p>O TurboGrafx-16, conhecido como PC Engine fora da América do Norte, é um console de
                        videogame doméstico projetado pela Hudson Soft e vendido pela NEC Home Electronics. Foi o
                        primeiro console comercializado na quarta geração, comumente conhecida como a era de 16 bits,
                        embora o console tenha uma unidade de processamento central (CPU) de 8 bits acoplada a um
                        processador gráfico de 16 bits.</p>
                </div>
                <div class="primary-button">
                    <a href="https://en.wikipedia.org/wiki/List_of_TurboGrafx-16_games">Lista de Jogos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ emulador_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>lr-beetle-pce-fast</h4>
                    <p>O lr-beetle-pce-fast é um dos emuladores de PC-Engine disponíveis pela RetroArch (prefixo 'lr-')
                        e é o único
                        utilizado para a emulação de PC-Engine no Ramo. Sendo assim, os comandos descritos na seção
                        'Comandos
                        (RetroArch)' também são válidos para este emulador.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-post mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5">Controles (User 1)</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{{ site.baseurl }}/{{ controle_imagem }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% assign B = "A" | upcase %}
{% assign LABEL_B = "I" %}
{% assign A = "B" | upcase %}
{% assign LABEL_A = "II" %}
{% assign Y = "X" | upcase %}
{% assign LABEL_Y = "IV" %}
{% assign X = "Y" | upcase %}
{% assign LABEL_X = "III" %}

{% assign LB = "L1" | upcase %}
{% assign LABEL_LB = "V" %}
{% assign RB = "R1" | upcase %}
{% assign LABEL_RB = "VI" %}
{% assign LT = "L2" | upcase %}
{% assign LABEL_LT = "Mode Switch" %}
{% assign RT = "R2" | upcase %}
{% assign LABEL_RT = "Alternate II Turbo On/Off" %}

{% assign R3 = "R3" | upcase %}
{% assign LABEL_R3 = "Alternate I Turbo On/Off" %}

{% assign LABEL_DPAD_UP = "D-Pad Up" %}
{% assign DPAD_DOWN = "DPAD_DOWN" | upcase %}
{% assign LABEL_DPAD_DOWN = "D-Pad Down" %}
{% assign DPAD_RIGHT = "DPAD_RIGHT" | upcase %}
{% assign LABEL_DPAD_RIGHT = "D-Pad Right" %}
{% assign DPAD_LEFT = "DPAD_LEFT" | upcase %}
{% assign LABEL_DPAD_LEFT = "D-Pad Left" %}

{% assign START = "START" | upcase %}
{% assign LABEL_START = "Run" %}
{% assign SELECT = "SELECT" | upcase %}
{% assign LABEL_SELECT = "Select" %}
{% include tabela.html %}