---
layout: default
category: emuladores
---
{% include emuladores.html %}
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ console_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Wonderswan Color</h4>
                    <p> O Wonderswan Color é um console portátil lançado em 2000 somente no Japão feito pela Bandai. 
                        Esse console é um modelo posterior ao Wonderswan lançado em 1999 
                        (Ver <a href="{{ site.baseurl }}/emuladores/Wonderswan">Wonderswan</a>) com a adição 
                        de cores (diferentemente do monocromático adotado pela sua versão anterior) e uma nova biblioteca 
                        de jogos. Diferentemente do original, esse console consegue durar 20 horas com uma pilha AA. O 
                        Wonderswan foi oficialmente descontinuado pela Bandai no Japão em 2003.
                    </p>
                </div>
                <div class="primary-button">
                    <a href="https://bdjogos.com.br/console.php?id=54">Lista de Jogos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <img src="{{ site.baseurl }}/{{ emulador_imagem }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>lr-beetle-wswan</h4>
                    <p> O lr-beetle-wswan é um dos emuladores de Wonderswan Color disponíveis pela RetroArch (prefixo 'lr-') 
                        e é o único utilizado para a emulação de Wonderswan Color no Ramo. Sendo assim, os comandos descritos 
                        na seção 'Comandos (RetroArch)' também são válidos para este emulador.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-post mt-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <h2 class="text-center mb-5">Controles (User 1)</h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% assign B = "A" | upcase %}
{% assign A = "B" | upcase %}
{% assign LB = "L1" | upcase %}
{% assign RB = "R1" | upcase %}
{% assign LT = "L2" | upcase %}
{% assign RT = "R2" | upcase %}
{% assign DPAD_UP = "DPAD_UP" | upcase %}
{% assign DPAD_DOWN = "DPAD_DOWN" | upcase %}
{% assign DPAD_RIGHT = "DPAD_RIGHT" | upcase %}
{% assign DPAD_LEFT = "DPAD_LEFT" | upcase %}
{% assign START = "START" | upcase %}
{% assign SELECT = "SELECT" | upcase %}
{% include tabela.html %}