{% assign B = "B" | upcase %}
{% assign LABEL_B = "B" %}

{% assign A = "A" | upcase %}
{% assign LABEL_A = "A" %}

{% assign Y = "Y" | upcase %}
{% assign LABEL_Y = "Y" %}

{% assign X = "X" | upcase %}
{% assign LABEL_X = "X" %}

{% assign LB = "L1" | upcase %}
{% assign LABEL_LB = "L1" %}

{% assign RB = "R1" | upcase %}
{% assign LABEL_RB = "R1" %}

{% assign LT = "L1" | upcase %}
{% assign LABEL_LT = "L1" %}

{% assign RT = "R1" | upcase %}
{% assign LABEL_RT = "R1" %}

{% assign L3 = "L3" | upcase %}
{% assign LABEL_L3 = "Meio Analógico Esquerdo" %}

{% assign R3 = "R3" | upcase %}
{% assign LABEL_R3 = "Meio Analógico Direito" %}

{% assign DPAD_UP = "DPAD_UP" | upcase %}
{% assign LABEL_DPAD_UP = "D-Pad Cima" %}

{% assign DPAD_DOWN = "DPAD_DOWN" | upcase %}
{% assign LABEL_DPAD_DOWN = "D-Pad Baixo" %}

{% assign DPAD_RIGHT = "DPAD_RIGHT" | upcase %}
{% assign LABEL_DPAD_RIGHT = "D-Pad Direita" %}

{% assign DPAD_LEFT = "DPAD_LEFT" | upcase %}
{% assign LABEL_DPAD_LEFT = "D-Pad Esquerda" %}

{% assign START = "START" | upcase %}
{% assign LABEL_START = "Start" %}

{% assign SELECT = "SELECT" | upcase %}
{% assign LABEL_SELECT = "Select" %}