{% assign B = "B" | upcase %}
{% assign A = "A" | upcase %}
{% assign Y = "Y" | upcase %}
{% assign X = "X" | upcase %}
{% assign LB = "L1" | upcase %}
{% assign RB = "R1" | upcase %}
{% assign LT = "L1" | upcase %}
{% assign RT = "R1" | upcase %}
{% assign L3 = "L3" | upcase %}
{% assign R3 = "R3" | upcase %}
{% assign DPAD_UP = "DPAD_UP" | upcase %}
{% assign DPAD_DOWN = "DPAD_DOWN" | upcase %}
{% assign DPAD_RIGHT = "DPAD_RIGHT" | upcase %}
{% assign DPAD_LEFT = "DPAD_LEFT" | upcase %}
{% assign START = "START" | upcase %}
{% assign SELECT = "SELECT" | upcase %}