{% assign name = page.name %}
{% assign name_formatted = name | split: "-" | join: " " | remove: ".html" %}
{% for emulador in site.data.emuladores %}
  {% if emulador.name == name_formatted %}
    {% assign name = emulador.name %}
    {% assign console_imagem = emulador.console_imagem %}
    {% assign emulador_imagem = emulador.emulador_imagem %}
    {% assign controle_imagem = emulador.controle_imagem %} 
  {% endif %}
{% endfor %}
<!-- Page Heading -->
<div class="page-heading">
  <div class="container-fluid">
      <div class="row">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h1>{{name}}</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
