<section class="services">
    <div class="container-fluid">
      <div class="row">
        {% for item in site.data.emuladores %}
        <div class="col-md-4">
          <div class="service-item">
            <div class="emuladores" href="{{ site.baseurl }}{{ item.link }}">
              <img src="{{ site.baseurl }}/assets/images/{{ item.name }}.png" alt="{{ item.name }}">
            </div>
            <h4>{{ item.name }}</h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
