<script src="{{ site.baseurl }}/{{ site.data.referencias['script_jquery'] }}"></script>
<script src="{{ site.baseurl }}/{{ site.data.referencias['script_bootstrap'] }}"></script>

<script src="{{ site.baseurl }}/{{ site.data.referencias['script_browser'] }}"></script>
<script src="{{ site.baseurl }}/{{ site.data.referencias['script_breakpoints'] }}"></script>
<script src="{{ site.baseurl }}/{{ site.data.referencias['script_transition'] }}"></script>
<script src="{{ site.baseurl }}/{{ site.data.referencias['script_owl-carousel'] }}"></script>
<script src="{{ site.baseurl }}/{{ site.data.referencias['script_custom'] }}"></script>