<style>
    /* Define o tamanho máximo das imagens em 100px*/
    .custom-table img {
        max-width: 100px;
        height: auto;
    }
</style>

<div class="table-responsive">
    <table class="table custom-table">
        <tr>
            <th class="text-center h5 font-weight-bold">Controles {{name}}</th>
            <th class="text-center h5 font-weight-bold">Xbox 360</th>
            <th class="text-center h5 font-weight-bold">PS3</th>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[B] %}<img src="../{{site.data.retro[B]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_B.png" alt="B" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Circle.png" alt="Bolinha" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>


            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[A] %}<img src="../{{site.data.retro[A]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_A.png" alt="A" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Cross.png" alt="X_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[Y] %}<img src="../{{site.data.retro[Y]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Y.png" alt="Y" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Triangle.png" alt="Triangulo" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[X] %}<img src="../{{site.data.retro[X]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360\360_X.png" alt="X_Xbox" class="img-fluid ">
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Square.png" alt="Quadrado" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[RB] %}<img src="../{{site.data.retro[RB]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_RB.png" alt="RB" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_L1.png" alt="L1" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[LB] %}<img src="../{{site.data.retro[LB]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_LB.png" alt="LB" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_R1.png" alt="R1" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[LT] %}<img src="../{{site.data.retro[LT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_LT.png" alt="LT" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_L2.png" alt="L2" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[RT] %}<img src="../{{site.data.retro[RT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_RT.png" alt="RT" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_R2.png" alt="R2" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[L3] %}<img src="../{{site.data.retro[L3]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Left_Stick_Click.png" alt="AnalogicoL_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Left_Stick_Click.png" alt="AnalogicoL_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[R3] %}<img src="../{{site.data.retro[R3]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Right_Stick_Click.png" alt="AnalogicoR_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Right_Stick_Click.png" alt="AnalogicoR_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_UP] %}<img src="../{{site.data.retro[DPAD_UP]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Dpad_Up.png" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Dpad_Up.png" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_RIGHT] %}<img src="../{{site.data.retro[DPAD_RIGHT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Dpad_Right.png" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Dpad_Right.png" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_LEFT] %}<img src="../{{site.data.retro[DPAD_LEFT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Dpad_Left.png" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Dpad_Left.png" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_DOWN] %}<img src="../{{site.data.retro[DPAD_DOWN]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Dpad_Down.png" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Dpad_Down.png" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[SELECT] %}<img src="../{{site.data.retro[SELECT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Back_Alt.png" alt="Back_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Select.png" alt="Select_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[START] %}<img src="../{{site.data.retro[START]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Xbox 360/360_Start_Alt.png" alt="Start_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/PS3/PS3_Start.png" alt="Start_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
    </table>
</div>