<style>
    /* Define o tamanho máximo das imagens em 100px*/
    .custom-table img {
        max-width: 100px;
        height: auto;
    }
</style>

<div class="table-responsive">
    <table class="table custom-table">
        <tr>
            <th class="text-center h5 font-weight-bold">Controles {{name}}</th>
            <th class="text-center h5 font-weight-bold">Xbox 360</th>
            <th class="text-center h5 font-weight-bold">PS3</th>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[B] %}<img src="{{ site.baseurl }}/{{site.data.retro[B]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].B }}" alt="B" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].Circle }}" alt="Bolinha" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>


            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[A] %}<img src="{{ site.baseurl }}/{{site.data.retro[A]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].A }}" alt="A" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].Cross }}" alt="X_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[Y] %}<img src="{{ site.baseurl }}/{{site.data.retro[Y]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].Y }}" alt="Y" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].Triangle }}" alt="Triangulo" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[X] %}<img src="{{ site.baseurl }}/{{site.data.retro[X]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].X }}" alt="X_Xbox" class="img-fluid ">
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].Square }}" alt="Quadrado" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[LB] %}<img src="{{ site.baseurl }}/{{site.data.retro[LB]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].LB }}" alt="LB" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].R1 }}" alt="R1" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[RB] %}<img src="{{ site.baseurl }}/{{site.data.retro[RB]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].RB }}" alt="RB" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].L1 }}" alt="L1" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[LT] %}<img src="{{ site.baseurl }}/{{site.data.retro[LT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].LT }}" alt="LT" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].L2 }}" alt="L2" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[RT] %}<img src="{{ site.baseurl }}/{{site.data.retro[RT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].RT }}" alt="RT" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].R2 }}" alt="R2" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[L3] %}<img src="{{ site.baseurl }}/{{site.data.retro[L3]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].L3 }}" alt="AnalogicoL_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].L3 }}" alt="AnalogicoL_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[R3] %}<img src="{{ site.baseurl }}/{{site.data.retro[R3]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].R3 }}" alt="AnalogicoR_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].R3 }}" alt="AnalogicoR_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_UP] %}<img src="{{ site.baseurl }}/{{site.data.retro[DPAD_UP]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].DPAD_UP }}" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].DPAD_UP }}" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_RIGHT] %}<img src="{{ site.baseurl }}/{{site.data.retro[DPAD_RIGHT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].DPAD_RIGHT }}" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].DPAD_RIGHT }}" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_LEFT] %}<img src="{{ site.baseurl }}/{{site.data.retro[DPAD_LEFT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].DPAD_LEFT }}" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].DPAD_LEFT }}" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[DPAD_DOWN] %}<img src="{{ site.baseurl }}/{{site.data.retro[DPAD_DOWN]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].DPAD_DOWN }}" alt="D-Pad_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].DPAD_DOWN }}" alt="D-Pad_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[SELECT] %}<img src="{{ site.baseurl }}/{{site.data.retro[SELECT]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].SELECT }}" alt="Back_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].SELECT }}" alt="Select_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle h4 font-weight-bold">
                <div class="d-flex justify-content-center align-items-center">
                    {% if site.data.retro[START] %}<img src="{{ site.baseurl }}/{{site.data.retro[START]}}" alt="Equivalente_Console" class="img-fluid">{% else %}Nada{% endif %}
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['xbox_360'].START }}" alt="Start_Xbox" class="img-fluid">
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ site.baseurl }}/{{ site.data.referencias['ps3'].START }}" alt="Start_PS3" class="img-fluid">
                </div>
            </td>
        </tr>
    </table>
</div>