<!DOCTYPE html>
<html>

<head>
    <title>Template Tabela</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Controles Console</th>
            <th>Xbox 360</th>
            <th>PS3</th>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_B.png" alt="B"></td> 
            <td><img src="PS3/PS3_Circle.png" alt="Bolinha"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_A.png" alt="A"></td> 
            <td><img src="PS3/PS3_Cross.png" alt="X_PS3"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_Y.png" alt="Y"></td> 
            <td><img src="PS3/PS3_Triangle.png" alt="Triangulo"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360\360_X.png" alt="X_Xbox"></td> 
            <td><img src="PS3\PS3_Square.png" alt="Quadrado"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_RB.png" alt="RB"></td> 
            <td><img src="PS3/PS3_L1.png" alt="L1"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_LB.png" alt="LB"></td> 
            <td><img src="PS3/PS3_R1.png" alt="R1"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_LT.png" alt="LT"></td> 
            <td><img src="PS3/PS3_L2.png" alt="L2"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_RT.png" alt="RT"></td> 
            <td><img src="PS3/PS3_R2.png" alt="R2"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_Left_Stick.png" alt="AnalogicoL_Xbox"></td> 
            <td><img src="PS3/PS3_Left_Stick.png" alt="AnalogicoL_PS3"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_Right_Stick.png" alt="AnalogicoR_Xbox"></td> 
            <td><img src="PS3/PS3_Right_Stick.png" alt="AnalogicoR_PS3"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_Dpad.png" alt="D-Pad_Xbox"></td> 
            <td><img src="PS3/PS3_Dpad.png" alt="D-Pad_PS3"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_Back_Alt.png" alt="Back_Xbox"></td> 
            <td><img src="PS3/PS3_Select.png" alt="Select_PS3"></td>
        </tr>
        <tr>
            <td><img src="" alt="Equivalente_Console"></td>
            <td><img src="Xbox 360/360_Start_Alt.png" alt="Start_Xbox"></td> 
            <td><img src="PS3/PS3_Start.png" alt="Start_PS3"></td>
        </tr>
    </table>
</body>

</html>